services:
  mysql-asterisk:
    container_name: mysql-asterisk
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      ASTERISK_USER_PASSWORD: ${ASTERISK_USER_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./init.sh:/docker-entrypoint-initdb.d/init.sh
